@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    background-color: #2e2828;
    color: white;
}

.unicaone {
    font-family: 'Unica One', cursive;
}

.bg-secondary {
    background-color: #503a3a !important;
}
