@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

:root {
    --var-primary: #560027;
    --var-secondary: #880e4f;
}

.unicaone {
    font-family: 'Unica One', cursive;
}

body {
    background-color: var(--var-primary);
    color: white !important;
}

td {
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
    color: white !important;
}

.td td:hover {
    background-color: var(--var-secondary) !important;
}
